<?xml version="1.0"?>
<robot name="izzyboat">
  <link name="izzy/base_link">
    <visual>
      <geometry>
        <box size="1.77 0.07 0.035"/>
      </geometry>
      <origin xyz="0.86 0 -.0175"/>
    </visual>
  </link>

  <link name="izzy/camera_forward">
     <visual>
      <geometry>
        <cylinder length="0.07" radius="0.05"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="-0.015 0 0"/>
    </visual>
  </link>

  <joint name="base_to_camera_forward" type="fixed">
    <parent link="izzy/base_link"/>
    <child link="izzy/camera_forward"/>
    <origin xyz="1.8 0 -0.055"/>
  </joint>
</robot>
