<launch>
  <arg name="namespace" default="izzy"/>
  <arg name="platform_name" default="$(arg namespace)"/>
  <arg name="platform_package" default="izzyboat_project11"/>
  <arg name="operator_host" default="salmonib"/>
  <arg name="logDirectory" default="/dev/null"/>

  <include file="$(find echoboat_project11)/launch/echo.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="platform_name" value="$(arg platform_name)"/>
    <arg name="platform_package" value="$(arg platform_package)"/>
    <arg name="operator_host" value="$(arg operator_host)"/>
  </include> 

  <group ns="$(arg namespace)">

    <node pkg="usb_cam" type="usb_cam_node" name="forward_camera" ns="sensors/cameras/forward"> 
      <param name="camera_name" value="camera_forward" />
      <param name="framerate" value="10" />
      <param name="camera_frame_id" type="string" value="$(arg namespace)/camera_forward" />
      <param name="camera_info_url" value="file://$(find izzyboat_project11)/config/camera_forward.yaml"/>
    </node>

    <node pkg="rosbag" type="record" name="logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/izzyboat --split --duration=15m --repeat-latched --lz4 -a -x  &quot;(.*)image(.*)|(.*)lidar(.*)&quot;
"   />

    <rosparam command="load" file="$(find izzyboat_project11)/config/izzyboat.yaml"/>


  </group>


</launch>
