<launch>
  <arg name="namespace" default="izzy"/>
  <arg name="platform_name" default="$(arg namespace)"/>
  <arg name="platform_package" default="izzyboat_project11"/>
  <arg name="operator_host" default="salmonib"/>
  <arg name="logDirectory" default="/dev/null"/>
  <arg name="urdf_model" default="$(find izzyboat_project11)/urdf/izzyboat.urdf"/>

  <include file="$(find echoboat_project11)/launch/echo.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="platform_name" value="$(arg platform_name)"/>
    <arg name="platform_package" value="$(arg platform_package)"/>
    <arg name="operator_host" value="$(arg operator_host)"/>
  </include> 

  <group ns="$(arg namespace)">

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <group ns="sensors/cameras/">

      <!-- <node pkg="usb_cam" type="usb_cam_node" name="camera_forward"> 
        <param name="camera_name" value="camera_forward" />
        <param name="framerate" value="30" />
        <param name="image_width" value="1920"/>
        <param name="image_height" value="1080"/>
        <param name="camera_frame_id" type="string" value="$(arg namespace)/camera_forward_optical" />
        <param name="camera_info_url" value="file://$(find izzyboat_project11)/config/camera_forward.yaml"/>
      </node>

      <node pkg="opencv_dnn" type="opencv_dnn_node" name="yolov8">
        <param name="model" value="$(find opencv_dnn)/config/jenna.onnx"/>
        <param name="detections_parser" value="opencv_dnn::YOLOv5Parser"/>
        <remap from="image" to="camera_forward/image_raw"/>
      </node>

      <node pkg="topic_tools" type="throttle" name="throttle_forward" args="messages camera_forward/image_raw/compressed .5"/> -->


      <include file="$(find depthai_ros_driver)/launch/pointcloud.launch">
      </include>

      <node pkg="topic_tools" type="throttle" name="throttle_oak" args="messages oak/rgb/image_raw/compressed .5"/>

      <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" ns="oak">
        <remap from="cloud_in" to="points"/>
        <param name="resolution" value="0.1"/>
        <param name="frame_id" value="$(arg namespace)/map"/>
      </node>

    </group>



    <node pkg="rosbag" type="record" name="logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/izzyboat --split --duration=15m --repeat-latched --lz4 -a -x  &quot;(.*)image(.*)|(.*)lidar(.*)|(.*)points(.*)&quot;
"   />

    <node pkg="rosbag" type="record" name="video_logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/izzyboat_video --split --duration=15m --repeat-latched --lz4 /izzy/sensors/cameras/camera_forward/camera_info /izzy/sensors/cameras/camera_forward/image_raw/compressed_throttle /izzy/sensors/cameras/oak/rgb/camera_info /izzy/sensors/cameras/oak/rgb/image_raw/compressed_throttle"   />


    <rosparam command="load" file="$(find izzyboat_project11)/config/izzyboat.yaml"/>

  
    <param name="robot_description" command="$(find xacro)/xacro $(arg urdf_model) namespace:=$(arg namespace)"/>

  </group>


</launch>
