<launch>
  <arg name="namespace" default="izzy"/>
  <arg name="platform_name" default="$(arg namespace)"/>
  <arg name="platform_package" default="izzyboat_project11"/>
  <arg name="operator_host" default="salmonib"/>
  <arg name="logDirectory" default="/dev/null"/>

  <include file="$(find echoboat_project11)/launch/echo.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="platform_name" value="$(arg platform_name)"/>
    <arg name="platform_package" value="$(arg platform_package)"/>
    <arg name="operator_host" value="$(arg operator_host)"/>
  </include> 


  <node pkg="rosbag" type="record" name="logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/izzyboat --split --duration=15m --repeat-latched --lz4 -a -x  &quot;(.*)image(.*)|(.*)lidar(.*)&quot;
" />


</launch>
