<launch>
  <arg name="namespace" default="izzy"/>

  <include file="$(find ntrip_client)/launch/ntrip_client.launch">
    <arg name="namespace" value="$(arg namespace)/sensors/ntrip"/>
    <arg name="host" value="macorsrtk.massdot.state.ma.us"/>
    <arg name="port" value="31000"/>
    <arg name="mountpoint" value="RTCM3_MASA"/>
    <arg name="username" value="izzyboat"/>
    <arg name="password" value="izzyboat"/>
    <arg name="rtcm_message_package" value="mavros_msgs"/>
  </include>
</launch>
