<launch>
  <arg name="namespace" default="operator"/>
  <arg name="robotNamespace" default="izzy"/>
  <arg name="enableBridge" default="true"/>
  <arg name="robotHost" default="dora"/>
  

  <include file="$(find echoboat_project11)/launch/operator_echo.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>

  <group ns="$(arg namespace)">
    <rosparam param="udp_bridge/remotes/robot/connections/default/host" subst_value="True">"$(arg robotHost)"</rosparam>

  </group>

</launch>



