<launch>
  <arg name="namespace" default="operator"/>
  <arg name="robotNamespace" default="izzy"/>
  <arg name="backgroundChart" default="$(find camp)/workspace/13283/13283_2.KAP"/>
  <arg name="dual_camp" default="false"/>

  <include file="$(find project11)/launch/operator_ui.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="backgroundChart" value="$(arg backgroundChart)"/>
    <arg name="rqt" value="false"/>
    <arg name="dual_camp" value="$(arg dual_camp)"/>
  </include>

  <!-- <node pkg="rqt_gui" type="rqt_gui" name="rqt-cameras" args="-p izzyboat_cameras"/> -->

  <node type="rviz" name="rviz_izzy" pkg="rviz" args="-d $(find izzyboat_project11)/config/izzyboat.rviz"/> 
</launch>

